.akib{
    border: 3px solid purple;
    width: 400px;
    margin: auto;

}
.saad{
    border: 3px solid black;
    max-width: 400px;
    margin: auto;
}
.akibian{
    width: 400px;
    height: 300px;
    border: 5px solid black;
    overflow: scroll;
}